.sectionModalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    .modalHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        width: 95%;

        border-bottom: 2px solid #e2e2e2;

        .titleHeader {
            font-size: 22px;
            font-weight: 600;

            color: #4664A2;
        }

        .closeModal {
            width: 24px;
            height: 24px;

            cursor: pointer;
        }
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 95%;

        margin-top: 15px;

        .title {
            font-size: 22px;
            font-weight: 500;

            color: #4664A2;
        }
    }

}