.sectionModalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    .modalHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        width: 95%;

        border-bottom: 2px solid #4664A2;

        .titleHeader {
            font-size: 22px;
            font-weight: 600;

            color: #4664A2;
        }

        .closeModal {
            width: 24px;
            height: 24px;

            cursor: pointer;
        }
    }

    .inputWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 95%;

        margin-top: 17px;

        .inputTitle {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 12px !important;

            color: #4664A2;
        }

        .ownInput {
            width: 100%;
            padding: 10px 5px;
            border:none;
            border-bottom: 1px solid #e2e2e2;

            font-size: 18px;
            font-weight: 500;

            background-color: #fbfbfb;
            
        }
        .ownInput:focus {
            outline: none;
        }

        .ownTextarea {
            width: 100%;
            height: 150px;
            padding: 10px 5px;
            border:none;
            border-bottom: 1px solid #e2e2e2;

            font-size: 18px;
            font-weight: 500;

            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            background-color: #fbfbfb;
        }
        .ownTextarea:focus {
            outline: none;
        }
        
    }

}